$bgcolor: #e8e4db;
$fontcolor: #353535;
$darkgrey: #444444;
$medgrey: #666666;
$white: #ffffff;
$lightgrey: #eeeeee;

//accent & other bg color palette
$pink: #F26F65;
$mauve: #C7A399;
$aqua: #63BFBE;
$lightblue: #65A9F2;
$navy: #0B3059;
