@import "normalize/import-now";
@import "colors";
@import "fonts";

// breakpoints
$breakpoint-tablet: 641px;
$breakpoint-desktop: 801px;
$breakpoint-full: 1024px;

html {
    font-size: 100%;
}

body {
    font-family: $lato;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: $fontcolor;
    background-color: $bgcolor;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1;
    }

    h1 {
        font-family: $abril;
        line-height: .9;
        font-size: 4.5em;
        font-weight: lighter;
    }

    h2, h3, button, .header, .button, ul.work-section-skills, .skills ul {
        text-transform: uppercase;
        font-weight: 600;
    }

    h2 {
        font-family: $playfair;
        margin: 0 auto;
        font-size: 1.4em;
        font-weight: 900;
        text-align: center;
        margin-bottom: 20px;
        letter-spacing: 0.06em;
        background-color: $white;
        padding: 0.4em;
        border: 1px solid $lightgrey;
    }

    h3 {
        font-size: 0.8em;
        color: $darkgrey;
        line-height: 1.4;
        font-weight: 400;
    }

    h4 {
        font-family: $playfair;
        font-size: 1.5em;
        line-height: 1.3;
        font-weight: 300;
    }

    h5 {
        color: $medgrey;
        font-weight: 300;
        line-height: 1.4;
        font-size: 0.8em;
    }

    p {
        margin: 0;
        padding-top: 0.3em;
        letter-spacing: 0.02em;
        line-height: 1.4;
    }

    button, .button {
        display: inline-block;
        height: 38px;
        padding: 0 30px;
        text-align: center;
        font-weight: 600;
        margin: 15px 0;
        line-height: 2;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid $mauve;
        cursor: pointer;
        box-sizing: border-box;
        transition: 0.2s;
        font-size: 0.7em;
        letter-spacing: 0.08em;
        outline: 0;
        &:hover {
            transition: 0.2s;
            color: $pink;
            outline:0;
            background-color: $white;
        }
        &:focus {
            outline:0;
        }
    }

    .section {
        .container {
            position: relative;
            width: 86%;
            max-width: 960px;
            margin: 0 auto;
            box-sizing: border-box;
        }
        &.header {
            height: 36px;
            background-color: $navy;
            position: fixed;
            z-index: 2;
            width: 100%;
            font-size: 0.8em;
            color: $lightgrey;
            font-weight: 300;
            .row {
                display:inline-flex;
                width: 100%;
                margin: 0 auto;
                ul {
                    padding: 0;
                    width: 100%;
                    margin: 0;
                    text-align:right
                }
                li, span {
                    display: inline-block;
                    margin: 10px 10px 0 0;

                }
                li, #nav-name {
                    color: $white;
                    transition: 0.2s;
                    &:hover, &.selected {
                        cursor: pointer;
                        border-bottom: 1px $mauve solid;
                        transition: 0.3s;
                    }
                }
                li:last-of-type {
                    margin-right:0;
                }
            }
        }
        &.about {
            padding: 75px 0 35px;
            background-color: #f5f5f5;
            .row {
                display:flex;
                flex-flow: row wrap;
                .name {
                    text-align: left;
                    width: 96%;
                    padding: 2%;
                    .icons {
                        margin-top: 10px;
                        margin-left:3px;
                        a {
                            color: $fontcolor;
                            text-decoration: none;
                            &:hover {
                                color: $mauve;
                                transition: 0.3s;
                            }
                            [class^="icon-"], [class*=" icon-"] {
                                font-size: 1.5em;
                                margin-right: 0.3em;
                            }
                        }
                    }
                }
                .story {
                    width: 96%;
                    padding: 2%;
                    margin-top: 15px;
                    h2 {
                        text-align:left;
                        width: 90px;
                        margin: 0;
                        margin-bottom: 5px;
                    }
                    h3 {
                        cursor: pointer;
                        margin-top: 7px;
                        span.selected {
                            border-bottom: 1px solid $mauve;
                        }
                    }
                    p {
                        transition: 0.3s;
                        padding-bottom: .7em;
                        a {
                            color: $darkgrey;
                            text-decoration: none;
                            &:hover {
                                color: $mauve;
                            }
                        }
                    }
                    p.long-version, span.long-version {
                        display: none;
                        transition: 0.3s;
                    }
                }
            }
        }
        &.skills {
            padding: 50px 0 35px;
            background-color: $mauve;
            .row {
                display:flex;
                flex-flow: row wrap;
                h2 {
                    margin-left: 2%;
                }
                .column {
                    width: 96%;
                    padding: 0% 2%;
                    ul {
                        list-style:none;
                        padding: 0;
                        margin: 0px;
                        text-align:left;
                        li {
                            text-transform: uppercase;
                            font-size: .9em;
                            color: $darkgrey;
                            margin-bottom: 1em;
                        }
                    }
                }
            }
        }
        &.work {
            padding: 50px 0 20px;
            background-color: $white;
            .row {
                display: flex;
                flex-flow: row wrap;
                h2 {
                    margin-left: 2%;
                }
                &.work-entry {
                    margin-bottom: 30px;
                    padding: 2%;
                }
                .work-logo {
                    display:none;
                }
                .description {
                    width: 100%;
                    .company {
                        width: 100%;
                    }
                    .location {
                        width: 100%;
                    }
                    ul {
                        padding-left: 0;
                    }
                    ul.work-section-resp li {
                        font-size: 0.9em;
                        margin-bottom: 0.9em;
                        list-style: none;
                    }
                    ul.work-section-skills {
                        line-height: 1.1;
                        li.skill {
                            display: inline-block;
                            margin: 0 10px 0 0;
                            color: $pink;
                            font-size: 0.7em;
                            line-height: 1;
                        }
                    }
                }
            }
        }
        &.projects {
            padding: 50px 0 40px;
            .row {
                display: flex;
                flex-wrap: wrap;
                h2 {
                    margin-left: 2%;
                }
                .col {
                    width: 96%;
                    padding: 2%;
                    .project-img {
                        line-height: 0;
                        img {
                            max-width:100%;
                        }
                    }
                    .project-desc {
                        padding: 7%;
                        background-color: $darkgrey;
                        color: $lightgrey;
                        line-height: 0;
                        h3 {
                            color: $pink;
                        }
                        p {
                            font-size: 0.9em;
                            a {
                                color: $mauve;
                                text-decoration: none;

                            }
                        }
                    }
                }
            }
        }
        &.connect {
            background-color: $aqua;
            padding: 50px 0;
            text-align: center;
            .row {
                display: flex;
                h2 {
                    margin-left: 2%;
                }
                p {
                    text-align: left;
                    margin-left: 2%;
                    a {
                        color: $fontcolor;
                        text-decoration: none;
                        &:hover {
                            border-bottom: 1px solid $lightgrey;
                            cursor: pointer;
                            transition: 0.3s;
                        }
                    }
                }
                .icons {
                    margin: 10px 1%;
                    float: left;
                    a {
                        color: $fontcolor;
                        text-decoration: none;
                        &:hover {
                            color: $lightgrey;
                            transition: 0.3s;
                            cursor: pointer;
                        }
                        [class^="icon-"], [class*=" icon-"] {
                            font-size: 2em;
                            margin: 0.2em;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    body {
        h1 {
            font-size: 3.7em;
            text-align: right;
        }

        h2 {
            font-size: 1.3em;
            text-align: center;
        }

        h3 {
            font-size: 0.8em;
        }

        h4 {
            font-size: 1.4em;
            text-align: right;
        }

        h5 {
            font-size: 0.8em;
        }

        .section {
            &.about {
                padding: 75px 0 35px;
                .row {
                    .name {
                        text-align: right;
                        width: 40%;
                        padding: 2%;
                    }
                    .story {
                        width: 52%;
                        padding: 2%;
                        margin-top: 65px;
                    }
                }
            }
            &.skills {
                .row {
                    .column {
                        width: 29.3%;
                        padding: 0% 2%;
                        ul {
                            li {
                                font-size: .8em;
                            }
                        }
                    }
                }
            }
            &.work {
                .row {
                    .work-logo {
                        display:block;
                        width: 20%;
                        img {
                            max-width: 100%;
                        }
                    }
                    .description {
                        width: 76%;
                        margin-left: 4%;
                        .company {
                            width: 56%;
                            margin-right: 4%;
                        }
                        .location {
                            width: 40%;
                        }
                    }
                }
            }
            &.projects {
                .row {
                    .col {
                        width: 46%;
                        padding: 2%;
                    }
                }
            }
        }
    }
}


@media (min-width: $breakpoint-desktop) {
    body {

        h1 {
            font-size: 5em;
        }

        h2 {
            font-size: 1.5em;
        }

        h3 {
            font-size: 1em;
            line-height: 1.3;
        }

        h4 {
            font-size: 1.7em;
            line-height: 1.3;
        }

        h5 {
            line-height: 1.4;
            font-size: 0.9em;
        }

        p {
            padding-top: 0.3em;
            line-height: 1.4;
        }

        button, .button {
            height: 38px;
            padding: 0 30px;
            margin: 15px 0;
            line-height: 2;
            font-size: 0.7em;
            letter-spacing: 0.08em;
        }

        .section {
            .container {
                position: relative;
                width: 80%;
                max-width: 960px;
            }
            &.about {
                padding: 150px 0;
                .row {
                    .name {
                        width: 46%;
                    }
                    .story {
                        width: 46%;
                        margin-top: 137px;
                        h3 {
                            font-size: 0.87em;
                        }
                    }
                }
            }
            &.skills {
                padding: 100px 0;
                .row {
                    h2 {
                        margin: 0 auto;
                        margin-bottom: 30px;
                    }
                    .column {
                        ul {
                            text-align: center;
                            li {
                                font-size: .9em;
                                margin-bottom: 1em;                            }
                        }
                    }
                }
            }
            &.work {
                padding: 125px 0;
                .row {
                    h2 {
                        margin: 0 auto;
                        margin-bottom: 20px;
                    }
                    .description {
                        .company {
                            width: 60%;
                            margin-right: 4%;
                        }
                        .location {
                            width: 36%;
                        }
                    }
                }
            }
            &.projects {
                padding: 125px 0;
                .row {
                    h2 {
                        margin: 0 auto;
                        margin-bottom: 20px;
                    }
                    .col {
                        width: 29.3%;
                    }
                }
            }

            &.connect {
                padding: 125px 0;
                .row {
                    h2 {
                        margin: 0 auto;
                        margin-bottom: 20px;
                    }
                    p {
                        text-align: center;
                        margin: 0 auto;
                    }
                    .icons {
                        margin: 0 auto;
                        float: none;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
