html {
  font-size: 100%;
}

body {
  font-size: 1em;
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.02em;
  color: #353535;
  background-color: #e8e4db;
}

header, section, footer {
  padding: 9rem 0 8rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  line-height: .9;
  font-size: 4.0rem;
}

h2, h3, button, nav, .button, ul.work-section-skills, .skills ul {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

h2 { font-size: 1.7rem; font-weight: 700}
h3, h5 { font-size: 1.1rem; color: #444}
h4 { font-size: 1.5rem; }
h5 { color: #666; }

p {
  margin: 0;
  padding-top: 5px;
  letter-spacing: 0.03rem;
}

/* NAV */
.header {
  height: 51px;
  background-color: #fff;
  position: fixed;
  z-index: 2;
  width: 100%;
}

nav {
  font-size: .8rem;
}

nav li, nav span {
  display: inline-block;
  margin: 10px 10px 0 0;
}

nav li:last-of-type {
  margin-right: 0;
}

nav li, .nav-name {
  background-color: #eee;
  padding: .3rem;
}

nav li a, .nav-name a {
  color: inherit;
  text-decoration: none;
}

nav li a:hover, .nav-name a:hover {
  color: inherit;
}

nav li:hover, .nav-name:hover {
  border-bottom: 1px #F26F65 solid;;
}

nav ul {
  text-align:right;
}

button {
  margin-top: 1rem;
  background-color: #fff;
}

/* ICONS & IMAGES */
[class^="icon-"], [class*=" icon-"] {
  font-size: 1.5em;
}

.icons {
  margin-top: 10px;
}

/* SECTIONS */

/* ---- top - about ---- */
.about {
  padding: 150px 0;
}

.name {
  text-align: left;
}

/* ---- skills ---- */
.skills {
  padding: 50px 0;
  background-color: #C7A399;
}

.skills h2, .work h2, .projects h2, .connect h2 {
  margin-bottom: 20px;
}

.skills ul, .work ul {
  list-style:none;
  padding-top: 0px;
  margin-bottom: 0px;
}

.skills li {
  text-transform: uppercase;
  font-size: .9rem;
  color: #444;
}

/* ---- work ---- */
.work h3 {
  padding-bottom: .5rem;
}

.work h5 {
  padding-bottom: .45rem;
}

.work-entry {
  margin-bottom: 30px;
}

.work ul.work-section-resp li {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.work li.skill {
  display: inline-block;
  margin: 0 10px 0 0;
  color: #F26F65;
  font-size: 0.7rem;
  line-height: 1;
}

/**** projects ****/
.projects {
  background-color: #fff;
}

.projects .entry {
  background-color: #353535;
  padding: 1rem;
  margin-bottom: 1rem;
}
.project-desc {
  background-color: #e8e4db;
  padding: 1rem;
}

.project-desc p {
  font-size: 0.9rem;
}

/*** connect **** */
.connect {
  background-color: #63BFBE;
}

/* lists */
span.button {
  margin-right: 1rem;
}


/* media queries */

@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 1.5rem; line-height: 1.2; text-align: center; }
  h3, h5 { font-size: 1rem; line-height: 1.2;}
  h4 { font-size: 1.7rem; line-height: 1.3}

  .name {
    text-align: right;
  }
  .story {
    margin-top: 117px;
  }

  .story h2 {
    text-align: left;
  }

  .icons span {
    margin-left: .5rem;
  }
  nav li {
    margin-right:20px;
  }
  .skills h2, .work h2, .projects h2, .connect h2 {
    margin-bottom: 40px;
  }
  .skills, .work, .projects, .connect {
    padding: 125px 0;
  }

  .skills ul {
    text-align: center;
  }

  .work .three {
    text-align: center;
  }
}

@media (min-width: 750px) {

}

@media (min-width: 1000px) {

}
