html {
  font-size: 100%;
}

body {
  font-size: 1em;
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.02em;
  color: #222;
}

header, section, footer {
  padding: 9rem 0 8rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  line-height: .9;
  font-size: 4.0rem;
}

h2, h3, button, nav, .button {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

h2 { font-size: 1.7rem; }
h3 { font-size: 1.1rem; }
h4 { font-size: 1.5rem; }

p {
  margin: 0;
  padding-top: 5px;
}

/* NAV */
.header {
  height: 60px;
  background-color: #ccc;
  position: fixed;
  z-index: 2;
  width: 100%;
}

nav {
  font-size: .8rem;
}

nav li, li.skill, nav span {
  display: inline-block;
  margin: 10px 10px 0 0;
}

nav li:last-of-type {
  margin-right: 0;
}

nav li, .nav-name {
  background-color: #eee;
  padding: .5rem;
}
nav ul {
  text-align:right;
}

button {
  margin-top: 1rem;
}

/* ICONS & IMAGES */
[class^="icon-"], [class*=" icon-"] {
  font-size: 1.5em;
}

.icons {
  margin-top: 10px;
}

/*sections*/
.about {
  padding: 150px 0;
}

.skills {
  padding: 150px 0;
  background-color: #999;
}

.name {
  text-align: left;
}

.skills {

}

/* lists */
span.button {
  margin-right: 1rem;
}


/* media queries */

@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 1.7rem; line-height: 1.2;}
  h3 { font-size: 1.2rem; line-height: 1.2;}
  h4 { font-size: 1.7rem; line-height: 1.3}
  .name {
    text-align: right;
  }
  .story {
    margin-top: 114px;
  }
  .icons span {
    margin-left: .5rem;
  }
  nav li {
    margin-right:20px;
  }
}

@media (min-width: 750px) {

}

@media (min-width: 1000px) {

}
